* {
    background-color: orangered;
}

h1 {
    color: navy;
    text-align: center;
    border: 2px;
    border-color: dodgerblue;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#demo {
    color: yellow;
    text-align: center;
}